{% extends "base.html" %}
{% load i18n %}


{% block title %}Login{% endblock %}

{% block content %}

<div class="container-sm">

    {% if form.errors %}
        <div class="alert alert-danger">{% blocktranslate %}Your username and password didn't match. Please try again.{% endblocktranslate %}</div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</div>
        {% else %}
            <div class="alert alert-warning">Please login to see this page.</div>
        {% endif %}
    {% endif %}


    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="id_username" class="col-sm-3 col-form-label text-start">{{ form.username.label_tag }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id_username" name="username" autocomplete="username">
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_password" class="col-sm-3 col-form-label text-start">{{ form.password.label_tag }}</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="password" required="" autocomplete="current-password" id="id_password">
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" value="login" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}