{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Reset password" %}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}

        <div class="container-sm">
            <h2>{% translate "Reset password" %}</h2>
            <p><a href="{% url 'password_change' %}">Password Change</a></p>

            {% if form.errors %}
                <div class="alert alert-danger">
                        {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
                </div>
            {% endif %}

            <form method="post">{% csrf_token %}
                <div class="row mb-3 text-start">
                    <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
                </div>
                <div class="row mb-3">
                    <label for="id_username" class="col-sm-3 col-form-label text-start">{% translate "User:" %}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="id_username" value="{{ user.username }}" disabled readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_old_password" class="col-sm-3 col-form-label text-start">{% translate "Old password:" %}</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control mb-3" id="id_old_password" name="old_password">
                        {% if form.old_password.errors %}
                            <div class="alert alert-warning mb-3 text-start">
                                {{ form.old_password.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_new_password1" class="col-sm-3 col-form-label text-start">{% translate "New password:" %}</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control mb-3" id="id_new_password1" name="new_password1">
                        {% if form.new_password1.errors %}
                            <div class="alert alert-warning mb-3 text-start">
                                {{ form.new_password1.errors }}
                            </div>
                        {% endif %}
                        {% if form.new_password1.help_text %}
                            <div class="alert alert-info mb-3 text-start">
                                {{ form.new_password1.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_new_password2" class="col-sm-3 col-form-label text-start">{% translate "Confirm new password:" %}</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control mb-3" id="id_new_password2" name="new_password2">
                        {% if form.new_password2.errors %}
                            <div class="alert alert-warning mb-3">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                        {% if form.new_password2.help_text %}
                            <div class="alert alert-info mb-3 text-start">
                                {{ form.new_password2.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="submit-row">
                    <button type="submit" class="btn btn-primary">{% translate 'Change my password' %}</button>
                </div>
            </form>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}