{% load i18n %}
<div class="card mb-3 {% if shift.is_past == True %}text-secondary{% endif %}{% if shift.is_registered == True %}border-primary{% else %}{% endif %}" style="max-width: 18rem;">
    <div class="card-header">
            {% if cards_with_date == True %}<span class="small">{{ shift.shift_date }}<br></span>{% endif %}
            <span>{{ shift.starts_at|time:"H:i" }}-{{ shift.ends_at|time:"H:i" }}</span>
    </div>
    <div class="card-body">
        <p>
            <h5 class="card-title">{{ shift.title }}</h5>
        </p>
        {% if shift.is_registered == True %}
            <p class="alert alert-info">{% translate "I'm registered" %}</p>
        {% endif %}
        <p>
        {% if perms.shift_planner.does_planning %}
            {% if shift.required_employees_min > shift.registered_employees %}
                <div class="alert alert-danger" role="alert">
                    {% translate "Understaffed." %}
                </div>
            {% endif %}
        {% endif %}
        </p>
        <div>

            {% if shift.is_past == False %}
                {% if shift.is_registered == False %}
                    <a class="btn btn-primary mb-3" role="button" href="/planner/shift/{{ shift.id }}/register">{% translate "Register" %}</a>
                {% endif %}
                {% if shift.is_registered == True and shift.unregister_possible == True %}
                    <a class="btn btn-primary mb-3" role="button" href="/planner/shift/{{ shift.id }}/unregister">{% translate "Unregister" %}</a>
                {% endif %}
            {% endif %}
            {% if perms.shift_planner.does_planning %}
                <a class="btn btn-secondary mb-3" href="/planner/shift/{{ shift.id }}">{% translate "Detail" %}</a>
                <!-- <a class="card-link"href="/planner/shift/{{ shift.id }}">{% translate "Detail" %}</a> -->
            {% endif %}
        </div>
    </div>
</div>